# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
*.local
.eslintcache
.turbo

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# direnv
.direnv

# bindings dist
packages/three-steam-audio/src/bindings

# generated package docs
packages/three-steam-audio/LICENSE
packages/three-steam-audio/README.md
packages/three-steam-audio/THIRDPARTY.md

# private docs
docs/private
docs/spark

# astro dist
.astro
